[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "penalizedclr"]
	path = penalizedclr
	url = https://github.com/veradjordjilovic/penalizedclr
